NOTION_API_KEY=
NOTION_TERMS_DATA_SOURCE_ID=
NOTION_SERIES_DATA_SOURCE_ID=
NOTION_PEOPLE_DATA_SOURCE_ID=
NOTION_COMMITTEE_ROLES_DATA_SOURCE_ID=
NOTION_EVENTS_DATA_SOURCE_ID=
NOTION_MEDIA_DATA_SOURCE_ID=
NOTION_ARTICLES_DATA_SOURCE_ID=
NOTION_REGISTRATION_DATA_SOURCE_ID=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
